* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 16px;
}

body {
    width: 100%;
    height: 40vh;
    min-height: 100vh;
    background-color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

.menu {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: nowrap;
    text-decoration: none;
}

    .menu ul {
        list-style: none;
        text-decoration: none;
    }

    .menu li {
        display: inline-block;
        margin-right: 80px;
        margin-top: 20px;
        s text-decoration: none;
        font-size: 20px;
    }

menu li:hover {
    transform: scale(1.04);
    transition: 0.3s;
    background-color: #f69239;
    color: #fff;
    font-weight: bolder;
}


.menu a {
    display: inline-block;
    text-decoration: none;
}

.wrapper {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: start;
    width: 90%;
    height: 80vh;
    margin: 20px;
}

.info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: initial;
    align-items: center;
    padding: 1.3rem 0;
    margin: 1rem;
    width: 100%;
}

.texto h1 {
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 15px;
    color: #6fa0df;
}

.texto p {
    text-align: center;
    margin-bottom: 20px;
}

.texto-quem h1 {
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 15px;
    color: #f69239;
}

.texto-quem p {
    text-align: center;
    margin-bottom: 20px;
}

.botao a {
    text-decoration: none;
    color: #fff;
    background-color: #6fa0df;
    margin: 10px;
    padding: 5px;
    border: 0px;
    border-radius: 6px;
}

.botao:hover {
    transform: scale(1.04);
    transition: 0.3s;
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
}

.botao-quem a {
    text-decoration: none;
    color: #fff;
    background-color: #f69239;
    margin: 10px;
    padding: 5px;
    border: 0px;
    border-radius: 6px;
}

.botao-quem:hover {
    transform: scale(1.04);
    transition: 0.3s;
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
}


.ilustra img {
    height: 33rem;
}

.wrapper-form {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: start;
    width: 90%;
    margin: 20px;
}

/*form*/

.formulario {
    display: flex;
    width: 400px;
}

.formulario tr,td {
    padding: 10px;

}

.botao-submit {

    display: flex;
    align-content: center;
    text-decoration: none;
    color: #fff;
    background-color: #6fa0df;
    
    margin: 5px;
    padding: 5px;
    border: 0px;
    border-radius: 6px;
}

.botao-submit:hover {
    transform: scale(1.04);
    transition: 0.3s;
    text-decoration: none;
    color: #fff;
    font-weight: bolder;

    
}

.td {
    margin: 5px;
    padding: 10px;
    border-radius: 6px;
    font-size: 14px;


    /* media queries */
    @media (max-width: 1024px) {
        .wrapper {
            width: 90%;
        }
    }

    @media (max-width: 650px) {
        body {
            background-color: #fff;
        }

        .wrapper {
            width: 90%;
        }

        .ilustra {
            display: none;
        }

        .menu li {
            margin-right: 20px;
        }

        .menu {
            width: 100%;
            margin-left: 25px;
        }
    }
